@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.containerTexto{
  width: 620px;
  margin-left: 320px;
  padding-Right: 200px;
  
  }

.conteinerImageCode{
  width: 570px;
  display: flex;
  margin-bottom: 100px;
  margin-right: 200px;
}


@media only screen and (max-width: 768px) {
  .containerTexto {
    width: 100%;
    display: flex;
    flex-direction: column; /* Alterado para direção de coluna para empilhar itens verticalmente */
    align-items: center;
    margin-left: 100px;
    padding: 100px;
    margin: 300px;

  }
  
  .conteinerImageCode {
    margin: 0px;
    display: none;
    
  }
  
  .flex-col-md {
    flex-direction: column; /* Ajusta a direção de coluna para todos os itens com a classe .flex-col-md */
  }
}
